<!-- formulaire pour créer un post -->
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link( rel="stylesheet", href="/your-path-to-fontawesome/css/fontawesome.css")
        link( href="/your-path-to-fontawesome/css/brands.css" ,rel="stylesheet")
        link( href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet")
        title MyBlog
    body 
      .title 
         h1 Notre Blog 
      .ic 
         a(href='/index')
           img.mg(src="/images/icons8-home-page-24.png", alt="", srcset="")
      .container   
        p Modifier Post 
        form(action='/editpost?id=' + post._id, method="POST") 
          label(for="") Titre 
          input(type="text" , name="titre" , placeholder="Titre" , value=post.titre) 
          label(for="") Auteur 
          input(type="text" , name="auteur" , placeholder="Auteur" , value=post.auteur) 
          label(for="")  Résumé
          textarea(name="resume", cols="30", rows="2")=post.resume
          label(for="")  Contenu -HTML-
          textarea(name="contenu", cols="30", rows="12")=post.content
          input(type='submit' value='Modifier Post')
